<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 是用来描述数据库的连接 -->
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!-- ?characterEncoding=utf8 -->
		<property name="connection.url">
			jdbc:mysql://localhost:3306/xshdb?characterEncoding=utf8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<mapping resource="com/xsh/domain/Role.hbm.xml" />
		<mapping resource="com/xsh/domain/Student.hbm.xml" />
		<mapping resource="com/xsh/domain/RoleFunctions.hbm.xml" />
		<mapping resource="com/xsh/domain/Department.hbm.xml" />
		<mapping resource="com/xsh/domain/Functions.hbm.xml" />
		<mapping resource="com/xsh/domain/Moral.hbm.xml" />
		<mapping resource="com/xsh/domain/Attendance.hbm.xml" />
		<mapping resource="com/xsh/domain/Task.hbm.xml" />
		<mapping resource="com/xsh/domain/ScoreRule.hbm.xml" />
		<mapping resource="com/xsh/domain/Useres.hbm.xml" />
		<mapping resource="com/xsh/domain/Term.hbm.xml" />
		<mapping resource="com/xsh/domain/Classes.hbm.xml" />
	</session-factory>
</hibernate-configuration>